<div *ngIf="es.currentRole == 'admin'" class="wrapper">

  <app-header></app-header>
  
  <div *ngIf="es.dataLoaded">

    <div *ngIf="es.currentRole == 'admin'" style="padding: 1rem; margin: 1rem; background-color: grey; display: flex; flex-direction: column;">
      <div style="display: flex; align-items: center;">
        <h1 style="margin: 0;">Academic Programs</h1>
        <button style="margin: 0 1rem;" mat-raised-button (click)="es.showCreateAcademicProgram = !es.showCreateAcademicProgram" color="primary">Create</button>
      </div>
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <mat-card *ngIf="es.showCreateAcademicProgram" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title style="padding-bottom: 1rem;">Create Academic Program</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <mat-form-field style="width: 100%;">
              <mat-label>Academic Program Code</mat-label>
              <input matInput placeholder="DE" [(ngModel)]="es.programCode">
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <mat-label>Academic Program Name</mat-label>
              <input matInput placeholder="Data Engineering" [(ngModel)]="es.programName">
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="es.createAcademicProgram()">Create</button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngFor="let program of es.programArray; let i=index" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div *ngIf="!program.edit">
              <h3>Academic Program Code :</h3>
              <p>{{program.programCode}}</p>
            </div>

            <div *ngIf="!program.edit">
              <h3>Academic Program Name :</h3>
              <p>{{program.programName}}</p>
            </div>

            <div *ngIf="program.edit">
              <mat-form-field style="width: 100%;">
                <mat-label>Academic Program Code</mat-label>
                <input matInput placeholder="DE" [(ngModel)]="es.editProgram[i].programCode">
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-label>Academic Program Name</mat-label>
                <input matInput placeholder="Data Engineering" [(ngModel)]="es.editProgram[i].programName">
              </mat-form-field>
            </div>

          </mat-card-content>
          <mat-card-actions *ngIf="!program.edit">
            <button mat-raised-button (click)="program.edit = !program.edit">Edit</button>
            <button mat-raised-button color="warn" (click)="es.deleteAcademicProgram(program)">Delete</button>
          </mat-card-actions>

          <mat-card-actions *ngIf="program.edit">
            <button mat-raised-button color="primary" (click)="es.editAcademicProgram(i)">Save</button>
            <button mat-raised-button (click)="program.edit = !program.edit">Back</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>





    <div *ngIf="es.currentRole == 'admin' || es.currentRole == 'psm-committee'" style="padding: 1rem; margin: 1rem; background-color: blue; display: flex; flex-direction: column;">
      <div style="display: flex; align-items: center;">
        <h1 style="margin: 0;">Lecturer List</h1>
        <button *ngIf="es.currentRole == 'admin'" style="margin: 0 1rem;" mat-raised-button (click)="es.showCreateLecturer = !es.showCreateLecturer" color="primary">Create</button>
      </div>
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <mat-card *ngIf="es.showCreateLecturer" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title style="padding-bottom: 1rem;">Create Lecturer</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <mat-form-field style="width: 100%;">
              <mat-label>Lecturer Name</mat-label>
              <input matInput placeholder="" [(ngModel)]="es.lecturerName">
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="es.createLecturer()">Create</button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngFor="let lecturer of es.lecturerArray; let i=index" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div *ngIf="!lecturer.edit">
              <h3>Name :</h3>
              <p>{{lecturer.lecturerName}}</p>
            </div>

            <div *ngIf="!lecturer.edit">
              <h3>Domain :</h3>
              <p>{{lecturer.lecturerDomain | titlecase}}</p>
            </div>

            <div *ngIf="lecturer.edit">

              <mat-form-field style="width: 100%;">
                <mat-label>Name</mat-label>
                <input matInput placeholder="" [(ngModel)]="es.editLecturer[i].lecturerName">
              </mat-form-field>

              <mat-form-field *ngIf="es.currentRole == 'psm-committee'" appearance="fill">
                <mat-label>Domain</mat-label>
                <mat-select [(ngModel)]="es.editLecturer[i].lecturerDomain">
                  <mat-option [value]="'research'">
                    Research
                  </mat-option>
                  <mat-option [value]="'development'">
                    Development
                  </mat-option>
                </mat-select>
              </mat-form-field>



            </div>

          </mat-card-content>
          <mat-card-actions *ngIf="!lecturer.edit">
            <button mat-raised-button (click)="lecturer.edit = !lecturer.edit">Edit</button>
            <button mat-raised-button color="warn" (click)="es.deleteLecturer(lecturer)">Delete</button>
          </mat-card-actions>

          <mat-card-actions *ngIf="lecturer.edit">
            <button mat-raised-button color="primary" (click)="es.editLecturerList(i)">Save</button>
            <button mat-raised-button (click)="lecturer.edit = !lecturer.edit">Back</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>




    <div *ngIf="es.currentRole == 'admin'" style="padding: 1rem; margin: 1rem; background-color: green; display: flex; flex-direction: column;">
      <div style="display: flex; align-items: center;">
        <h1 style="margin: 0;">Committee Member</h1>
        <button style="margin: 0 1rem;" mat-raised-button (click)="es.showCreateCommittee = !es.showCreateCommittee" color="primary">Create</button>
      </div>
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <mat-card *ngIf="es.showCreateCommittee" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title style="padding-bottom: 1rem;">Create Committee</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <mat-form-field appearance="fill">
              <mat-label>Lecturer Name</mat-label>
              <mat-select [(ngModel)]="es.committeeLecturer">
                <mat-option *ngFor="let lecturer of es.lecturerArray" [value]="lecturer.lecturerName">
                  {{lecturer.lecturerName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Program Name</mat-label>
              <mat-select [(ngModel)]="es.committeeProgram">
                <mat-option *ngFor="let program of es.programArray" [value]="program.programName">
                  {{program.programName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="es.createCommittee()">Create</button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngFor="let committee of es.committeeArray; let i=index" style="max-width: 400px; margin: 1rem;">
          <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div *ngIf="!committee.edit">
              <h3>Lecturer Name :</h3>
              <p>{{committee.committeeLecturer}}</p>
            </div>

            <div *ngIf="!committee.edit">
              <h3>Program Name :</h3>
              <p>{{committee.committeeProgram}}</p>
            </div>

            <div *ngIf="committee.edit">
              <mat-form-field appearance="fill">
                <mat-label>Lecturer Name</mat-label>
                <mat-select [(ngModel)]="es.editCommittee[i].committeeLecturer">
                  <mat-option *ngFor="let lecturer of es.lecturerArray" [value]="lecturer.lecturerName">
                    {{lecturer.lecturerName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Program Name</mat-label>
                <mat-select [(ngModel)]="es.editCommittee[i].committeeProgram">
                  <mat-option *ngFor="let program of es.programArray" [value]="program.programName">
                    {{program.programName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </mat-card-content>
          <mat-card-actions *ngIf="!committee.edit">
            <button mat-raised-button (click)="committee.edit = !committee.edit">Edit</button>
            <button mat-raised-button color="warn" (click)="es.deleteCommittee(committee)">Delete</button>
          </mat-card-actions>

          <mat-card-actions *ngIf="committee.edit">
            <button mat-raised-button color="primary" (click)="es.editCommitteeMember(i)">Save</button>
            <button mat-raised-button (click)="committee.edit = !committee.edit">Back</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>












  </div>



  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>



<div *ngIf="!es.loggedIn" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
  <mat-card style="max-width: 400px; margin: 1rem;">
    <mat-card-header style="display: flex; justify-content: center; width: 100%;">
      <mat-card-title style="padding-bottom: 1rem;">Log In to PSM System</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field style="width: 100%;">
        <mat-label>Username</mat-label>
        <input (keyup.enter)="es.logIn()" matInput [(ngModel)]="es.username">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Password</mat-label>
        <input (keyup.enter)="es.logIn()" type="password" matInput [(ngModel)]="es.password">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column;">
      <button style="width: 100%;" color="primary" mat-raised-button (click)="es.logIn()">Log In</button>
      <p style="text-decoration: underline; margin: 1rem;" (click)="es.registerStudent = !es.registerStudent; es.loggedIn = !es.loggedIn">Dont have account yet? Register here</p>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="es.registerStudent" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
  <mat-card style="max-width: 400px; margin: 1rem;">
    <mat-card-header style="display: flex; justify-content: center; width: 100%;">
      <mat-card-title style="padding-bottom: 1rem;">Register As Student</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="es.username">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="es.password">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput [(ngModel)]="es.confirmPassword">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="es.name">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Matric Number</mat-label>
        <input matInput [(ngModel)]="es.matricNumber">
      </mat-form-field>

      <p style="color: red;">{{es.errorMessage}}</p>

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <button style="width: 100%;" color="primary" mat-raised-button [class.spinner]="es.registerLoading" [disabled]="es.registerLoading" (click)="es.register()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>




<div *ngIf="es.currentRole == 'student' && es.dataLoaded">

  <h1>Student</h1>


  <button [disabled]="es.studentAllowToApplySupervisor()" style="margin: 0 1rem;" mat-raised-button (click)="es.showApplySupervisor = !es.showApplySupervisor" color="primary">Apply for Supervisor</button>

  <mat-card *ngIf="es.showApplySupervisor" style="max-width: 400px; margin: 1rem;">
    <mat-card-header>
      <mat-card-title style="padding-bottom: 1rem;">Apply for Supervisor</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>Lecturer Name</mat-label>
        <mat-select [(ngModel)]="es.applicationSupervisor">
          <mat-option *ngFor="let lecturer of es.lecturerArray" [value]="lecturer.lecturerId">
            {{lecturer.lecturerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="es.applySupervisor()">Apply</button>
    </mat-card-actions>
  </mat-card>



  <mat-card *ngFor="let application of es.applicationArray; let i=index" style="max-width: 400px; margin: 1rem;">
    <mat-card-header>
      <mat-card-title style="padding-bottom: 1rem;">Application {{i+1}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div>
        <h3>Supervisor :</h3>
        <p>{{application.applicationSupervisor.lecturerName}}</p>
      </div>

      <div>
        <h3>Status :</h3>
        <p>{{application.applicationStatus | titlecase}}</p>
      </div>



    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="application.applicationStatus === 'approved'" mat-raised-button (click)="es.viewGeneralAgreement()">View General Agreement</button>
    </mat-card-actions>
  </mat-card>
  
</div>


<div *ngIf="!es.dataLoaded">
  <mat-spinner></mat-spinner>
</div>